.condBlock__items
  img.condBlock__vol-mob(src='/assets/images/decor/vol-mob.svg')
  .condBlock__item.condBlock__item--vol1
    img(src='/assets/images/decor/vol1.svg')
    .condBlock__title 1
    .condBlock__text
      | Совершайте покупку(и) с 10:00
      br
      | 20 сентября 2023г. по 22:00 25 ноября 2023г. на сумму в одном чеке от 5 000 рублей
      sup 1
      | .
  .condBlock__item.condBlock__item--vol2
    img(src='/assets/images/decor/vol2.svg')
    .condBlock__title 2
    .condBlock__text
      | Регистрируйте чек(и) в личном кабинете mall.id
      sup 2
      |  в период акции и получите купон(ы)
      sup 3
      |  участника розыгрыша.
  .condBlock__item.condBlock__item--vol3
    img(src='/assets/images/decor/vol1.svg')
    .condBlock__title 3
    .condBlock__text 26 ноября 2023г. в 16:00 приходите на розыгрыш в ТРЦ «Планета», который состоится на 1 уровне в центральном атриуме и становитесь обладателем автомобиля УАЗ ПАТРИОТ и других ценных призов.
