.headerBlock
  .flagBlock.headerBlock__flag
    .flagBlock__wrap
      .flagBlock__title Финал
      .flagBlock__dt 26.11
  .wrapper.relative.headerBlock__decor
    .flagBlock.headerBlock__flag-xl
      .flagBlock__wrap
        .flagBlock__title Финал
        .flagBlock__dt 26.11
    .navBlock
      .navBlock__wrap
        a.navBlock__logo(href='https://nkz.planeta-mall.ru/')
          img(width='164' height='42' src='/assets/images/logo.png', alt='логотип "Планета"')
        nav.navBlock__nav
          a.navBlock__link(href='#gifts') Призы
          a.navBlock__link(href='#conditions') Условия участия
          a.navBlock__link(href='#info') Информация
      a.buttonBlock.navBlock__lk(href='https://id.mall.tech/2/auth') Личный кабинет
      .navBlock__burger
        button.navBlock__burger-btn
    .headerBlock__title
      .headerBlock__title-text Счастлив
      .headerBlock__title-text2 ЧЕК
    .headerBlock__text
      | Финал акции
      br
      span.bold 26 ноября в 16:00
    .headerBlock__img-mob
      img(src='/assets/images/car.png' alt='УАЗ ПАТРИОТ')

.modalNavBlock
  .modalNavBlock__close
    button.modalNavBlock__btn
  nav.modalNavBlock__nav
    a.modalNavBlock__link(href='#gifts') Призы
    a.modalNavBlock__link(href='#conditions') Условия участия
    a.modalNavBlock__link(href='#info') Информация
    a.modalNavBlock__link(href='https://id.mall.tech/2/auth') Личный кабинет
