.footerBlock
  .wrapper
    ul.footerBlock__list
      li.footerBlock__li 1. Участник Акции может зарегистрировать неограниченное количество чеков за весь период Акции, но:
        ul
          li - не более 5 (пяти) чеков из одного магазина ТРЦ «Планета» в день.
          li - не более 10 (десяти) чеков из одного магазина ТРЦ «Планета» за весь период акции.
      li.footerBlock__li 2. Сумма чеков из одной и/или нескольких торговых точек между собой не суммируется. Чеки от приобретения подарочных сертификатов в любой торговой точке ТРЦ «Планета» не подлежат обмену на купоны и не дают право участвовать, Покупатель ТРЦ «Планета» может иметь неограниченное количество регистрационных купонов.
      li.footerBlock__li 3. Внешний вид призов, комплектация, цветовое изображение могут отличаться от указанного в настоящем рекламном макете и интернете. Количество призов ограничено.   .
    .footerBlock__address г. Новокузнецк, Доз 10 а
    .footerBlock__soc
      a.footerBlock__soc-item.footerBlock__soc-item--vk(href='https://vk.com/planet_novokuznetsk')
      a.footerBlock__soc-item.footerBlock__soc-item--ok(href='https://ok.ru/group/51988112670852')
      a.footerBlock__soc-item.footerBlock__soc-item--rut(href='https://rutube.ru/channel/24664094/')
      a.footerBlock__soc-item.footerBlock__soc-item--tg(href='https://t.me/planeta_nvkz')
      a.footerBlock__soc-item.footerBlock__soc-item--you(href='https://www.youtube.com/channel/UCUFk9TKgw2kOIZcZfmoShcQ/videos')
