section#gifts.giftsBlock
  .wrapper
    h2.h2.center Дополнительные призы
    .giftsBlock__items
      .giftsBlock__item.giftsBlock__item--1
        .giftsBlock__img
          img(width='618' height='324' src='/assets/images/gifts/cards.png' loading='lazy' alt='Подарочная карта')
        .giftsBlock__card-block
          .giftsBlock__title Подарочные карты ТРЦ «Планета»
          .giftsBlock__card-prices
            .giftsBlock__card-price-wrap
              .giftsBlock__card-price 5 000 ₽
              .giftsBlock__card-col 5 шт
            .giftsBlock__card-price-wrap
              .giftsBlock__card-price 10 000 ₽
              .giftsBlock__card-col 5 шт
            .giftsBlock__card-price-wrap
              .giftsBlock__card-price 15 000 ₽
              .giftsBlock__card-col 3 шт
      .giftsBlock__item.giftsBlock__item--2
        .giftsBlock__img
          img(width='233' height='369' src='/assets/images/gifts/phone.png' loading='lazy' alt='iPhone 13')
        .giftsBlock__title iPhone 13
        .giftsBlock__col 1 шт
      .giftsBlock__item.giftsBlock__item--3
        .giftsBlock__img
          img(width='335' height='386' src='/assets/images/gifts/watch.png' loading='lazy' alt='Премиальные часы SOKOLOV')
        .giftsBlock__title Премиальные часы SOKOLOV
        .giftsBlock__col 2 шт
      .giftsBlock__item.giftsBlock__item--4
        .giftsBlock__img
          img(width='237' height='362' src='/assets/images/gifts/food.png' loading='lazy' alt='Продуктовый набор от гипермаркета «Магнит Семейный»')
        .giftsBlock__title Продуктовый набор от гипермаркета «Магнит Семейный»
        .giftsBlock__col 2 шт
