section#info.infoBlock
  .wrapper
    h2.h2.center Информация
    p.infoBlock__title Мы подготовили для вас справочную информацию о правилах участия в акции, а также о корректной регистрации чека.
    .infoBlock__content
      .infoBlock__row1
        a.buttonBlock.infoBlock__btn(href='#') Правила участия
        a.buttonBlock.infoBlock__btn(href='#') Вопросы - ответы
      .infoBlock__row2
        a.buttonBlock.infoBlock__btn(href='#') Видеоинструкция
        a.buttonBlock.infoBlock__btn.infoBlock__btn--perc(href='#')
          | Согласие на обработку
          br
          |персональных данных
