section#coupons.couponsBlock
  .wrapper
    h2.h2.center Как получить зарегистрированные купоны
    p.couponsBlock__title
      | Для участия в акции вам необходимо зарегистрировать чек в личном кабинете mall.id.
      br
      | Это позволит вам управлять регистрациями в акции, настраивать уведомления и следить за результатами розыгрыша.
    .couponsBlock__btn
      a.buttonBlock2.couponsBlock__btn-mix(href='https://id.mall.tech/2/auth') Войти в личный кабинет
