extends sections/layout.pug

block content
  main
    include sections/after-final/header.pug
    include sections/after-final/coupons.pug
    include sections/after-final/gifts.pug
    include sections/after-final/conditions.pug
    include sections/after-final/footer.pug
