extends sections/layout.pug

block content
  main
    include sections/header.pug
    include sections/gifts.pug
    include sections/conditions.pug
    include sections/info.pug
    include sections/footer.pug
