section#conditions.condBlock
  .wrapper
    h2.h2.center Условия участия
    include ../../blocks/cond.pug
    .condBlock__btn
      a.buttonBlock2.condBlock__link(href='https://id.mall.tech/2/auth') Узнать номера своих купонов
