section.couponsFinalBlock
  .wrapper
    h2.h2.center Номера купонов победителей акции
    .couponsFinalBlock__grid
      .couponsFinalBlock__car
        img(src='/assets/images/car2.png' width='1227' height='1006' alt='УАЗ ПАТРИОТ' loading='lazy')
      .couponsFinalBlock__car-number
        p.couponsFinalBlock__car-title
          | Главный приз –&nbsp;
          br
          span.bold УАЗ ПАТРИОТ
        .couponsFinalBlock__car-coupon 852117
    .couponsFinalBlock__gift-title-mob Подарочные карты ТРЦ «Планета»
    .couponsFinalBlock__gifts
      .couponsFinalBlock__gift-img
        img(src='/assets/images/gifts/cards.png' width='618' height='324' loading='lazy' alt='Подарочные карты ТРЦ «Планета»')
      .couponsFinalBlock__gift-coupons
        .couponsFinalBlock__gift-title Подарочные карты ТРЦ «Планета»
        .couponsFinalBlock__gift-list
          .couponsFinalBlock__gift-row
            .couponsFinalBlock__gift-price 5 000 ₽
            .couponsFinalBlock__gift-list2
              .couponsFinalBlock__gift-item 115410
              .couponsFinalBlock__gift-item 115410
              .couponsFinalBlock__gift-item 115410
              .couponsFinalBlock__gift-item 115410
              .couponsFinalBlock__gift-item 115410
          .couponsFinalBlock__gift-row
            .couponsFinalBlock__gift-price 10 000 ₽
            .couponsFinalBlock__gift-list2
              .couponsFinalBlock__gift-item 115410
          .couponsFinalBlock__gift-row
            .couponsFinalBlock__gift-price 15 000 ₽
            .couponsFinalBlock__gift-list2
              .couponsFinalBlock__gift-item 115410
