.footerBlock
  .wrapper
    .footerBlock__address.footerBlock__address--no-space
      | ТРЦ «Планета»
      br
      | г. Новокузнецк, Доз 10 а
    .footerBlock__soc
      a.footerBlock__soc-item.footerBlock__soc-item--vk(href='https://vk.com/planet_novokuznetsk')
      a.footerBlock__soc-item.footerBlock__soc-item--ok(href='https://ok.ru/group/51988112670852')
      a.footerBlock__soc-item.footerBlock__soc-item--rut(href='https://rutube.ru/channel/24664094/')
      a.footerBlock__soc-item.footerBlock__soc-item--tg(href='https://t.me/planeta_nvkz')
      a.footerBlock__soc-item.footerBlock__soc-item--you(href='https://www.youtube.com/channel/UCUFk9TKgw2kOIZcZfmoShcQ/videos')
