section#gifts.giftsBlock.giftsFinalMixin
  .wrapper
    .giftsBlock__items.giftsFinalMixin__items
      .giftsBlock__item.giftsBlock__item--2
        .giftsBlock__img
          img(width='233' height='369' src='/assets/images/gifts/phone.png' loading='lazy' alt='iPhone 13')
        .giftsBlock__title.giftsFinalMixin__title iPhone 13
        .giftsBlock__col.giftsFinalMixin__col 161820
        .giftsBlock__col.giftsFinalMixin__col 161820
      .giftsBlock__item.giftsBlock__item--3.giftsFinalMixin__item--3
        .giftsBlock__img
          img(width='335' height='386' src='/assets/images/gifts/watch.png' loading='lazy' alt='Премиальные часы SOKOLOV')
        .giftsBlock__title.giftsFinalMixin__title Премиальные часы SOKOLOV
        .giftsBlock__col.giftsFinalMixin__col 161820
        .giftsBlock__col.giftsFinalMixin__col 161820
      .giftsBlock__item.giftsBlock__item--4
        .giftsBlock__img
          img(width='237' height='362' src='/assets/images/gifts/food.png' loading='lazy' alt='Продуктовый набор от гипермаркета «Магнит Семейный»')
        .giftsBlock__title.giftsFinalMixin__title Продуктовый набор от гипермаркета «Магнит Семейный»
        .giftsBlock__col.giftsFinalMixin__col 161820
        .giftsBlock__col.giftsFinalMixin__col 161820
