.headerBlock
  .flagBlock.headerBlock__flag
    .flagBlock__wrap
      .flagBlock__title
        | Акция
        br
        | завершена
  .wrapper.relative.headerBlock__decor
    .flagBlock.headerBlock__flag-xl
      .flagBlock__wrap
        .flagBlock__title
          | Акция
          br
          | завершена
    .navBlock
      .navBlock__wrap
        a.navBlock__logo(href='https://nkz.planeta-mall.ru/')
          img(width='164' height='42' src='/assets/images/logo.png', alt='логотип "Планета"')
      a.buttonBlock.navBlock__lk(href='https://id.mall.tech/2/auth') Личный кабинет
    .headerBlock__title
      .headerBlock__title-text Счастлив
      .headerBlock__title-text2 ЧЕК
    .headerBlock__text
    .headerBlock__img-mob
      img(src='/assets/images/car.png' alt='УАЗ ПАТРИОТ')
    .headerBlock__btn
      a.buttonBlock2(href='https://id.mall.tech/2/auth') Узнать номера своих купонов
